* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.intro {
  line-height: 1rem;
  background: rgb(251 226 226 / 25%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
  margin: auto;
}

.intro ul li a {
  color: #ffffff;
  border: none;
  margin: 0.5rem;
  padding: 0.5rem;
}

.intro ul li a:hover {
  background: #dfdfdf;
  color: #495056;
}

.navbar {
  font-weight: 600;
  font-size: 1.2rem;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 50px 100px -30px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px;
}

/* nav items */
.nav-item {
  padding-left: 6px;
}

#contactForm ul {
  text-decoration: none;
  list-style: none;
}

#contactForm {
  text-decoration: none;
  list-style: none;
}



/* form */

.form {

  border-radius: 10px;
}

.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

}

.form-items {
  background-color: rgb(174, 170, 170);
}

.form-holder .form-content {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 60px;
}

.form-content .form-items {
  /* border: 3px solid #fff; */
  padding: 40px;
  display: inline-block;
  width: 100%;
  min-width: 540px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form-content h3 {
  color: #fff;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-content h3.form-title {
  margin-bottom: 30px;
}

.form-content p {
  color: #fff;
  text-align: left;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
}


.form-content label,
.was-validated .form-check-input:invalid~.form-check-label,
.was-validated .form-check-input:valid~.form-check-label {
  color: #fff;
}

.form-content input[type=text],
.form-content input[type=password],
.form-content input[type=email],
.form-content select {
  width: 100%;
  padding: 9px 20px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 16px;
}


.btn-primary {
  background-color: #6C757D;
  outline: none;
  border: 0px;
  box-shadow: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #495056;
  outline: none !important;
  border: none !important;
  box-shadow: none;
}

.form-content textarea {
  position: static !important;
  width: 100%;
  padding: 8px 20px;
  border-radius: 6px;
  text-align: left;
  background-color: #fff;
  border: 0;
  font-size: 15px;
  font-weight: 300;
  color: #8D8D8D;
  outline: none;
  resize: none;
  height: 120px;
  -webkit-transition: none;
  transition: none;
  margin-bottom: 14px;
}

.form-content textarea:hover,
.form-content textarea:focus {
  border: 0;
  background-color: #ebeff8;
  color: #8D8D8D;
}

.mv-up {
  margin-top: -9px !important;
  margin-bottom: 8px !important;
}

.invalid-feedback {
  color: #ff606e;
}

.valid-feedback {
  color: #2acc80;
}


/* banner */
.banner-content ul {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
}

.banner-content ul a {
  color: #ebeff8;
  text-decoration: none;
  border: 1px solid black;
  margin-left: 1rem;
  padding: 5px;
  border-radius: 10px;
}



/* our courses */
.course-card a {
  border: none;
  border-radius: 29px;
  color: #fff;
  text-decoration: none;
  padding: 10px;

  background-color: blue;
}

footer {
  background-color: #3a349e;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.card .btn {
  align-items: center;
  border: 1px solid blue;
  background-color: #3a349e;
  color: #fff;
  display: inline-block;
  width: 50%;
  font-weight: 600;
}

.card {
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px !important;
}

.card img {
  /* border: 1px solid black !important; */
  border-radius: 10px !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.careerpara {
  text-align: center;
  font-weight: 400;
}

#service {
  background-color: #dfdfdf;
}





/* about section */
.heading1 {
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.aboutContainer img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.4) 0px 30px 60px -30px;
}

/* courses testimonial */
.card {

  border: none;
}

.user-content p {
  margin-top: 5px;
  font-size: 12px;
}


.ratings i {
  color: blue;
}



/* extra */


.gnav {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background: none;


}

.navitems {
  font-weight: 600;
}

.jumbotron {
  text-align: center;
  color: #2b3d34;
  line-height: 70px;
  margin: 20px;
}

.jumbotron h1 {
  text-align: center;
  color: #2b3d34;
  line-height: 70px;
  font-weight: 700;
  font-size: 60px;
}



.flex {
  display: flex;
  flex-wrap: wrap;
}

footer {
  background-color: #3a349e;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}


/* new */




@media screen and (min-width: 1060px) {
  .book_form {
    display: none;
  }

  .intro {
    width: 50vw;
  }

}

@media screen and (max-width:1060px) {
  .forms {
    display: none;
  }
}

@media (min-width:300px) and (max-width: 1102px) {

  /* .ticket-form {
    display: inline-block;
    top: 200px;
    width: 70vw;
    z-index: 0;

  }

  .intro {
    width: 80vw;
    margin-top: 80px !important;
    padding-top: 40px;
  }

  .banner-content {
    width: 70vw;
  } */
}

.ticket-form {
  border-radius: 20px;
  background-color: #3a3e3c;
}